/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.04em;
  font-family: 'Montserrat', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 25px 25px;
}
input[name='search-text'] {
  width: 272px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
input[name='search-text']:hover,
input[name='search-text']:active {
  border: 1px solid #000000;
}
.btn-search,
.load {
  padding: 8px 16px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #4e75ff;
  border-radius: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-transform: capitalize;
}
.load {
  display: block;
  margin: 0 auto;
}

.btn-search:hover,
.btn-search:active,
.load:hover,
.load:active {
  background-color: #6c8cff;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.photo-card {
  width: 360px;
  min-height: 200px;
  border: 2px solid #ccc;
}
img {
  object-fit: cover;
  height: 152px;
  width: 100%;
}
.info {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 4px 20px;
  font-size: 12px;
}
.info-item span {
  line-height: 2;
  font-size: 12px;
  display: block;
}
.info-item h2 {
  line-height: 1.3;
  font-size: 12px;
  font-weight: 600;
  color: #2e2f42;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
}
.loader {
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  border-top: 4px solid #eaff03;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #0800ff;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

